*{
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body{
    background-image: url(../fotos/seis.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.conten{
    border: 7px solid rgb(212, 26, 113);
    border-radius: 30px;
    margin: 4rem;
    background-color: rgba(9, 184, 196, 0.74);
    box-shadow: 5px 5px 30px rgb(78, 155, 7)
}

h3{
    color: white;
}
aside{
    width: 25%;
    height: 40%;
    display: inline-block;

}


